header {
  display: none;
}

.home-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  .map-wrapper {
    background-color: rgb(85, 174, 247);
    position: relative;
    top: 0px;
    width: 100%;
    height: 85%;
  }
  .recommend-wrapper {
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    top: 78%;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-out;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 15px;
    .recommend__move-button {
      width: 100%;
      height: 2em;
      display: flex;
      justify-content: center;
      align-items: center;

      .recommend__move-button__icon {
        background-color: rgb(231, 227, 227);
        width: 20%;
        height: 0.25em;
        border-radius: 3px;
      }
    }
    .recommend__list-wrapper {
      margin-bottom: 10%;
      margin-top: 10%;
      width: 100%;
      height: 200%;
      display: flex;
      overflow: scroll;
      align-items: center;

      .recommend__list {
        width: 100%;
        height: 100%;
        margin: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
          width: 80%;
          height: 12%;
          margin-bottom: 8%;
          position: relative;
          padding: 0.5em;
          border-radius: 6px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          background-color: rgb(247, 247, 247);
          display: flex;
          justify-content: space-around;
          align-items: center;

          .recommend__list__content {
            width: 100%;
            height: 100%;
            padding: 1em;
            font-size: 0.6em;
            * {
              margin: 3%;
            }

            .content__name {
              margin-bottom: 4%;
              font-weight: 600;
              font-size: 1.1em;
            }

            .content__comment {
              font-weight: 600;
              color: rgb(90, 51, 7);
            }

            .content__bookmark {
              position: absolute;
              padding: 0;
              top: -15%;
              left: 80%;
              img {
                object-fit: contain;
              }
            }

            .content__star {
              width: 50%;
              img {
                object-fit: scale-down;
                margin: 0.01em;
                padding: 0;
              }
            }

            .content__comment {
              position: relative;
              top: -3.5%;
            }
          }
        }
      }
    }
  }
}

footer {
  display: none;
}
