.contents-wrapper {
  width: 100%;
  height: 100%;
  padding-top: 2%;
  padding-left: 4%;
  font-size: 0.7em;

  .content__name {
    margin-top: 2%;
    margin-bottom: 5%;
    font-weight: 600;
    font-size: 1em;
  }

  .content__comment {
    width: 10%;
    margin-bottom: 4%;
    font-weight: 600;
    color: rgb(90, 51, 7);
  }

  .content__bookmark {
    position: absolute;
    padding: 0;
    top: 0;
    left: 84%;
    img {
      object-fit: contain;
    }
  }

  .content__star {
    width: 50%;
    height: 10%;
    img {
      object-fit: scale-down;
      padding: 0;
      margin-right: 0.25em;
    }
  }
  .content__time {
    width: 100%;
    margin-top: 2%;
  }
}
